.List {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 15px;
  padding-left: 15px;

  &__Item {
    display: flex;
    gap: 40px;
  }

  &__Teams {
    display: flex;
    column-gap: 20px;
  }

  &__TeamVsTeam {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    row-gap: 10px;
  }

  &__Image {
    width: 100px;
    height: auto;
    object-fit: cover;
  }
}
