.Matches {
  padding: 25px;
}

.Filters {
  position: fixed;
}

.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  &__MatchDay {
    text-align: center;
  }

  &__Item {
    display: flex;
    gap: 40px;
  }

  &__ItemText {
    padding-left: 15px;
  }

  &__Team {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__TeamImage {
    width: 120px;
    height: auto;
  }

  &__TeamVsTeam {
    display: flex;
    column-gap: 40px;
    border-radius: 20px;
    padding-block: 15px;
    padding-inline: 25px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }

  &__EmblemImage {
    width: 150px;
    height: 120px;
    object-fit: contain;
  }
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
