.Match {
  //display: flex;
  //column-gap: 40px;
  //padding-block: 15px;
  //padding-inline: 25px;
  //border: 1px solid rgba(255, 255, 255, 0.2);

  @media (width < 768px) {
    column-gap: 12px;
    padding: 10px;
  }
}

.ListItem {
  width: 49.5%;

  @media (width < 1280px) {
    width: 100%;
  }
}
